<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->

    <head>

        <meta charset="utf-8">
        <title>The Project | Page Affix Sidebar</title>
        <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
        <meta name="author" content="htmlcoder.me">

        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

        <!-- Fontello CSS -->
        <link href="fonts/fontello/css/fontello.css" rel="stylesheet">

        <!-- Plugins -->
        <link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
        <link href="css/animations.css" rel="stylesheet">
        <link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
        <link href="plugins/hover/hover-min.css" rel="stylesheet">		

        <!-- the project core CSS file -->
        <link href="css/style.css" rel="stylesheet" >

        <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
        <link href="css/skins/light_blue.css" rel="stylesheet">

        <!-- Custom css --> 
        <link href="css/custom.css" rel="stylesheet">









    </head>

    <!-- body classes:  -->
    <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
    <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
    <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
    <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
    <body class="no-trans   ">

        <!-- scrollToTop -->
        <!-- ================ -->
        <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">


            <!-- breadcrumb start -->
            <!-- ================ -->
            <div class="breadcrumb-container">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
                        <li class="active">Page Affix Sidebar</li>
                    </ol>
                </div>
            </div>
            <!-- breadcrumb end -->

            <!-- main-container start -->
            <!-- ================ -->
            <section class="main-container">

                <div class="container">
                    <div class="row">

                        <!-- main start -->
                        <!-- ================ -->
                        <div class="main col-md-9">

                            <!-- page-title start -->
                            <!-- ================ -->
                            <h1 class="page-title">Page Affix Sidebar</h1>
                            <div class="separator-2"></div>
                            <!-- page-title end -->
                            <div id="header-1">
                                <h2 class="space-top">Video Name</h2>
                                <div class="separator-2"></div>

                                <div class="outer-container">
                                    <div class="inner-container">

                                        <video height="480" width="854" id="ourvideo" controls autoplay>
                                            <source src="http://corrupt-system.de/assets/media/sintel/sintel-trailer.m4v" type="video/mp4" id="playerSource" />
                                        </video>
                                        <div class="video-overlay" id="tags"></div>
                                    </div>
                                </div>

                                <!-- Modals start -->
                                <!-- ============================================================================== -->
                                <!-- Button trigger modal -->

                                <div class="row">
                                    <div class="col-md-3">
                                        <button class="btn btn-info btn-animated" data-toggle="modal" data-target="#myModal" onclick="pause()">
                                            Insert a tag <i class="fa fa-upload"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-9 text-right">
                                        <label class="control-label">Correctness: 89% </label>	
                                        <button class="btn btn-warning btn-animated" data-toggle="modal" data-target="#voteModal" onclick="pause()">
                                            Rate Video <i class="fa fa-info-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                
                                <!-- Warnings -->
                                <div id="response">  
                                    <div class="alert alert-success alert-dismissible" hidden role="alert" id="responseSuccess">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>Success!</strong> Better check yourself, you're not looking too good.
                                    </div>

                                    <div class="alert alert-danger alert-dismissible" hidden role="alert" id="responseFailure">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>Danger!</strong> Better check yourself, you're not looking too good.
                                    </div>
                                </div>  


                                <!-- Modal -->
                                <div class="modal fade modalHide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Input a Tag</h4>
                                            </div>
                                            <form role="form" id="modalForm">
                                                <div class="modal-body">

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Description/Tag</label>
                                                        <input type="text" class="form-control" id="tagInput" placeholder="Description/Tag">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">URL</label>
                                                        <input type="text" class="form-control" id="urlInput" placeholder="URL">
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-dark btn-animated" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                                                    <button type="button" class="btn btn-sm btn-default btn-animated" id="tagSubmit">Submit <i class="fa fa-check"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade modalHide" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title text-center" id="voteModalLabel">Was this video correct?</h4>
                                            </div>
                                            <form role="form">
                                                <div class="modal-body text-center">
                                                    <button type="button" class="btn btn-sm btn-danger btn-animated">No <i class="fa fa-times"></i></button>
                                                    <button type="button" class="btn btn-sm btn-animated btn-success ">Yes  <i class="fa fa-check"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>






                        </div>
                        <!-- main end -->

                        <!-- sidebar start -->
                        <!-- ================ -->
                        <aside class="col-md-3">
                            <div class="sidebar">
                                <nav class="affix-menu scrollspy">
                                    <ul class="smooth-scroll nav nav-pills nav-stacked">
                                        <li class="jlink"><button type="button" class="btn btn-sm btn-dark playlistButton" value="http://corrupt-system.de/assets/media/sintel/sintel-trailer.m4v">Video1</button></li>
                                        <li class="jlink"><button type="button" class="btn btn-sm btn-dark playlistButton" value="http://corrupt-system.de/assets/media/bigbugbunny/bbb_trailer.m4v">Video2</button></li>
                                        <li class="jlink"><button type="button" class="btn btn-sm btn-dark playlistButton" value="http://cdn.yayquery.com/ep/23/yayquery_23.mp4">Video3</button></li>
                                        <li class="jlink"><a href="#header-4">Header - 4</a></li>
                                        <li><a href="#header-5">Header - 5</a></li>
                                        <li><a href="#header-6">Header - 6</a></li>
                                        <li><a href="#header-7">Header - 7</a></li>
                                        <li><a href="#header-8">Header - 8</a></li>
                                        <li><a href="#header-9">Header - 9</a></li>
                                        <li><a href="#header-10">Header - 10</a></li>
                                        <li><a href="#header-11">Header - 11</a></li>
                                        <li><a href="#header-12">Header - 12</a></li>
                                        <li><a href="#header-13">Header - 13</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </aside>
                        <!-- sidebar end -->

                    </div>
                </div>
            </section>
            <!-- main-container end -->



        </div>
        <!-- page-wrapper end -->

        <!-- JavaScript files placed at the end of the document so the pages load faster -->
        <!-- ================================================== -->
        <!-- Jquery and Bootstap core js files -->
        <script type="text/javascript" src="plugins/jquery.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

        <!-- Modernizr javascript -->
        <script type="text/javascript" src="plugins/modernizr.js"></script>

        <!-- Magnific Popup javascript -->
        <script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Appear javascript -->
        <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

        <!-- Count To javascript -->
        <script type="text/javascript" src="plugins/jquery.countTo.js"></script>

        <!-- Parallax javascript -->
        <script src="plugins/jquery.parallax-1.1.3.js"></script>

        <!-- Contact form -->
        <script src="plugins/jquery.validate.js"></script>

        <!-- Owl carousel javascript -->
        <script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>

        <!-- SmoothScroll javascript -->
        <script type="text/javascript" src="plugins/jquery.browser.js"></script>
        <script type="text/javascript" src="plugins/SmoothScroll.js"></script>

        <!-- Initialization of Plugins -->
        <script type="text/javascript" src="js/template.js"></script>

        <!-- Popcorn -->
        <script type="text/javascript" src="js/popcorn-complete.min.js"></script>
        <script type="text/javascript" src="js/popcorn.tagthisperson.js"></script>
        <!-- Custom Scripts -->
        <script type="text/javascript" src="js/custom.js"></script>




    </body>
</html>
