{% extends 'base_loggedin.html' %}
{% block content %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group ">
                        <div class="col-sm-3"></div>
                        <h1 class="text-center text-info col-sm-9" style="text-align: left;">Create Playlist</h1>
                    </div>
                    <form class="form-horizontal" method="POST">
                        {% for field in form %}
                        <div class="form-group has-feedback">
                            <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }} <span
                                    class="text-danger small">*</span></label>

                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}


                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-default">Upload</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>


            </div>
        </div>
    </section>
    <!-- main-container end -->

{% endblock %}