{% extends 'base_loggedin.html' %}
{% block content %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group ">
                        <div class="col-sm-3"></div>
                        <h1 class="text-center text-info col-sm-9" style="text-align: left;">Video Upload</h1>
                    </div>
                    <form class="form-horizontal" enctype="multipart/form-data" method="POST">
                        <div class="form-group has-feedback">
                            <label for="{{ form.language.id_for_label }}" class="col-sm-3 control-label">Language <span
                                    class="text-danger small">*</span></label>

                            <div class="col-sm-8">
                                {{ form.language }}
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="{{ form.category.id_for_label }}" class="col-sm-3 control-label">Category <span
                                    class="text-danger small">*</span></label>

                            <div class="col-sm-8">
                                <select class="form-control" id="inputPlaylist" name="category">
                                    {% for pl in categories %}
                                        <option>{{ pl.category_name }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-8">
                                <button class="btn btn-warning btn-animated" data-toggle="modal"
                                        data-target="#category">
                                    Add Category <i class="fa fa-info-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="{{ form.title.id_for_label }}" class="col-sm-3 control-label">Title <span
                                    class="text-danger small">*</span></label>

                            <div class="col-sm-8">
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="{{ form.description.id_for_label }}" class="col-sm-3 control-label">Description <span
                                    class="text-danger small">*</span></label>

                            <div class="col-sm-8">
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="{{ form.tags.id_for_label }}" class="col-sm-3 control-label">Keywords <span
                                    class="text-danger small">*</span></label>

                            <div class="col-sm-8">
                                {{ form.tags }}
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="{{ form.file.id_for_label }}" class="col-sm-3 control-label">File <span
                                    class="text-danger small">*</span></label>

                            <div class="col-sm-8">
                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                <div>
                                    <div class="form-control" data-trigger="fileinput" id="inputVideo"><i
                                            class="glyphicon glyphicon-file fileinput-exists"></i> <span
                                            class="fileinput-filename"></span></div>
                                <span class="btn btn-default btn-file"><span
                                        class="fileinput-new">Select Video</span><span
                                        class="fileinput-exists">Change</span>{{ form.file }}</span>
                                    <a href="#" class="btn btn-default fileinput-exists"
                                       data-dismiss="fileinput">Remove</a>
                                </div>
                                <div class="text-danger">{{ form.file.errors }}</div>
                            </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-default">Upload</button>
                                </div>
                            </div>
                        </div>
                            {% csrf_token %}
                    </form>
                </div>


            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade modalHide" id="category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        {#                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
                        <h4 class="modal-title" id="myModalLabel">Input a Tag</h4>
                    </div>
                    <form role="form" id="modalForm" method="POST" action="../add_category/">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="exampleInputEmail1">New Category</label>
                                <input type="text" class="form-control" name="category" placeholder="New Category">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-dark btn-animated" data-dismiss="modal">Close <i
                                    class="fa fa-times"></i></button>
                            <button type="submit" class="btn btn-sm btn-default btn-animated" id="tagSubmit">Submit <i
                                    class="fa fa-check"></i></button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- main-container end -->

{% endblock %}