{% extends 'base_loggedin.html' %}
{% block content %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group ">
                        <div class="col-sm-3"></div>
                        <h1 class="text-center text-info col-sm-9" style="text-align: left;">Video Upload</h1>
                    </div>
                    <form class="form-horizontal" method="POST">

                    </form>
                </div>


            </div>
        </div>
    </section>
    <!-- main-container end -->

{% endblock %}