{% extends 'base_loggedin.html' %}
{% block content %}
    {% load staticfiles %}

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Video List</h1>
                            <a href="/add_video/" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal ">Upload a new video</a>
							<div class="separator-2"></div>
							<!-- page-title end -->

                    {% if my_videos %}
                            {% for video in my_videos %}

							<div class="image-box style-3-b">
								<div class="row">
									<div class="col-sm-6 col-md-4 col-lg-3">
										<div class="overlay-container">
											<img src="{% static 'images/portfolio-1.jpg' %}" alt="">
											<div class="overlay-to-top">
												<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
											</div>
										</div>
									</div>
									<div class="col-sm-6 col-md-8 col-lg-9">
										<div class="body">
											<h3 class="title"><a href="/play/{{ video.video_id }}">{{ video.title }}</a></h3>
											<p class="small mb-10"><i class="icon-calendar"></i> {{ video.date_created }} <i class="pl-10 icon-tag-1"></i> {{ video.correctness }}</p>
											<div class="separator-2"></div>
											<p class="mb-10">{{ video.description }}</p>
											<a href="/play/{{ video.video_id }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Play<i class="fa fa-arrow-right pl-10"></i></a>
										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
                    {% else %}
                        <h1> You haven't uploaded any videos yet</h1>
                    {% endif %}
							<nav>
								<ul class="pagination">
									<li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
								</ul>
							</nav>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
			
{% endblock %}