{% extends 'base_loggedin.html' %}
{% block content %}
    {% load staticfiles %}
			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">{{  playlist.playlist_name }}</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit Illo quaerat <br> commodi excepturi dignissimos!</p>



							<div class="isotope-container-fitrows row grid-space-10">
                            {% if vid_list %}
                                {% for vid in vid_list %}
								    <div class="col-sm-6 col-md-3 isotope-item {{ vid.0.category }}">
									<div class="image-box style-2 mb-20 bordered text-center">
										<div id="carousel-portfolio" class="carousel slide" data-ride="carousel">


											<!-- Wrapper for slides -->
											<div class="carousel-inner" role="listbox">
												<div class="item active">
													<div class="overlay-container">
														<img src="{% static 'images/portfolio-1.jpg' %}" alt="">
														<div class="overlay-to-top">
															<p class="small margin-clear"><em>{{ vid.1 }} <br> Order in the list</em></p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="body shadow light-gray-bg ">
											<h3>{{ vid.0.title }}</h3>
											<div class="separator"></div>
											<p>{{ vid.0.description }}</p>
											<a href="/play/{{ vid.0.video_id }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Play Video</a>

										</div>
									</div>
								</div>
                                {% endfor %}
							</div>
                            {% else %}
                                This is an empty playlist
                        {% endif %}
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
{% endblock %}